@{
    ViewBag.Title = "Anasayfa";
}

<div class="container-fluid row h-100 justify-content-center align-items-center">
    <div class="mr-1 mb-4 img-thumbnail p-1">
        <img src="https://placeimg.com/800/800/arch" alt="" class="img-fluid" />
    </div>
    <div class="mr-2 mb-4 img-thumbnail p-1">
        <img src="https://placeimg.com/800/800/arch" alt="" class="img-fluid" />
    </div>

    <div class="mb-5 w-75">
        <a href="#" class="btn btn-secondary w-100">Sonraki</a>
    </div>
</div>
